# direnv: auto-enter the Nix dev shell on `cd` into this directory.
# Run `direnv allow` once after cloning. Requires nix-direnv for caching:
#   https://github.com/nix-community/nix-direnv
use flake
